/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
/* Common */
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Lato', sans-serif;
}
.container{
    width: 1440px;
    margin: 0 auto;
}
.container-fluid{
    width: 100%;
    margin: 0 auto;
    border: 1px solid red;
}
.btn-primary{
    border: none;
    padding: 20px 40px;
    border-radius: 8px;
    background: #E55473;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}
.section-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin: 20px 0;
}
.section-description{
    color: #27272799;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
/* Header Banner Section*/
.banner-section{
    background: #e554731a;
}
.banner-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* banner left */
.banner-left{
    width: 50%;
}
.banner-text h1{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}
.banner-text p{
    color: #27272799;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin: 28px 5px;
}
.banner-text button{

}
/* banner right */
.banner-img img{
    width: 600px;
    margin-top: 50px;
}

/* Featured section*/
.featured-inner{
    margin: 170px 0;
}
.featured-boxs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}
.featured-box1{    
    background: #a7216226;
}
.featured-box2{    
    background: #0597A026;
}
.featured-box3{    
    background: #477D1126;
}

.featured-box-inner{
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 20px;
    padding-bottom: 0;
    width: 380px;
    height: 430px;
    border-start-end-radius: 50%;
    border-start-start-radius: 50%;
    margin: 0 20px;
}
.featured-box-inner img{
    width: 280px;
}
.featured-box h5{
    text-align: center;
    margin-top: 30px;
}
.featured-box h5 a{
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
}
/* Hot Deal CSS */
.hotdeal-inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hotdeal-left{
    text-align: center;
}
.hotdeal-btn{
    margin: 30px 0;
}
.hotdeal-img{
    width: 300px;
    margin: 100px 0;
}