/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
/* Common */
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Lato', sans-serif;
}
.container{
    width: 1440px;
    margin: 0 auto;
    border: 1px solid red;
}
.container-fluid{
    width: 100%;
    margin: 0 auto;
    border: 1px solid red;
}
.btn{
    border: none;
}
/* Header Banner */
.banner-section{
    background: #e554731a;
}
.banner-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* banner left */
.banner-left{
    width: 50%;
}
.banner-text h1{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}
.banner-text p{
    color: #27272799;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin: 28px 5px;
}
.banner-text button{
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}
/* banner right */
.banner-img img{
    width: 600px;
    margin-top: 50px;
}